<footer class="site-footer container large">
    <div class="footer-column left">
        <div class="footer-logo">
            {{> logo}}
        </div>
        <div class="description-text">{{@site.description}}</div>
    </div>
    <div class="footer-column center">
        <div class="footer-nav">
            {{#if @site.secondary_navigation}}
            <nav class="footer-menu hidden-xs hidden-sm hidden-md">
                {{navigation type="secondary"}}
            </nav>
            {{/if}}
            <div class="copyright">
                 {{date format="YYYY"}} <a href="{{@site.url}}">{{@site.title}}</a>
                - &copy; All rights reserved.<br>Published
                with <a href="https://ghost.org" target="_blank" rel="noopener">Ghost</a></div>
        </div>
    </div>
    <div class="footer-column right">
        {{#if @site.facebook}}
            <a class="footer-social-item footer-social-item-facebook" title="Blog KiKi Guru Facebook Page" href="{{facebook_url @site.facebook}}"
               target="_blank" rel="noopener noreferrer" aria-label="Blog KiKi Guru Facebook Page">
                <i class="icon icon-facebook"></i>
            </a>
        {{/if}}
        {{#if @site.twitter}}
            <a class="footer-social-item footer-social-item-twitter" title="KiKi Guru Twitter" href="{{twitter_url @site.twitter}}"
               target="_blank" rel="noopener noreferrer" aria-label="KiKi Guru Twitter">
                <i class="icon icon-twitter"></i>
            </a>
        {{/if}}
        <a class="footer-social-item footer-social-item-rss"
           href="https://feedly.com/i/subscription/feed/{{@site.url}}/rss/" target="_blank"
           rel="noopener noreferrer" aria-label="RSS">
            <i class="icon icon-rss"></i>
        </a>
    </div>
</footer>