<a class="logo" href="{{@site.url}}">
    {{#if @site.logo}}
        <img height="60" width="200" class="logo-image" src="{{@site.logo}}" alt="{{@site.title}}">
    {{else}}
        <span class="logo-text">{{@site.title}}</span>
    {{/if}}
</a>