<!DOCTYPE html>
<html lang="{{@site.lang}}">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{meta_title}}</title>
    <link rel="preconnect" href="https://images.unsplash.com" crossorigin>
    <link rel="preconnect" href="https://connect.facebook.net" crossorigin>
    <link rel="preload" type="font/ttf" href="assets/fonts/Alto.ttf" as="font" crossorigin="anonymous">
    <link rel="stylesheet" href="{{asset "built/screen.css"}}">
    {{ghost_head}}
</head>

<body class="{{body_class}}">
    <div class="site">
        {{> header}}
        {{#is "home"}}
            {{> featured}}
        {{/is}}
        <div class="site-content">
            {{{body}}}
        </div>
        {{> footer}}
    </div>

    <div class="dimmer"></div>

    <div class="off-canvas">
        <div class="canvas-close">
            <i class="canvas-icon icon icon-window-close"></i>
        </div>
        <div class="mobile-menu"></div>
    </div>
    <script async defer src="{{asset "built/main.min.js"}}"></script>
    {{{block "scripts"}}}
    <div id="fb-root"></div>
    {{ghost_foot}}
</body>

</html>