<!DOCTYPE html>
<html lang="{{@site.lang}}">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{meta_title}}</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link media="print" onload="this.media='all'" href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{asset "built/screen.css"}}">
    <script>
        if (localStorage.getItem('alto_dark') == 'true') {
            document.documentElement.classList.add('dark-mode');
        }
    </script>
    {{ghost_head}}
</head>

<body class="{{body_class}}">
    <div class="site">
        {{> header}}
        {{#is "home"}}
            {{> featured}}
        {{/is}}
        <div class="site-content">
            {{{body}}}
        </div>
        {{> footer}}
    </div>

    <div class="dimmer"></div>

    <div class="off-canvas">
        <div class="canvas-close">
            <i class="canvas-icon icon icon-window-close"></i>
        </div>
        <div class="mobile-menu"></div>
    </div>
    <script async defer src="{{asset "built/main.min.js"}}"></script>
    {{{block "scripts"}}}
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v9.0&appId=429146018231335" nonce="hRevMNbZ"></script>
    {{ghost_foot}}
</body>

</html>